.quantity {
  display: flex;
  justify-content: flex-end;
}

.sub,
.plus,
.number {
  width: 30px;
  text-align: center;
  height: 30px;
}

.sub,
.plus {
  background-color: #3fa5ef;
  color: white;
}

.price-quantity {
  justify-content: flex-end;
  display: flex;
}

.number {
  border: 1px solid #e0e0e0;
}

.listCart {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  padding: 20px !important;
  border-radius: 3px;
}

.listCart li {
  list-style-type: none;
  margin-bottom: 15px;
}

.btnRemoveCart {
  border: none;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  background: rgb(206, 3, 3);
  border: 1px solid rgb(206, 3, 3);
  color: white;
  filter: drop-shadow(0 2px 2px #707070);
}

.sub:hover,
.plus:hover {
  cursor: pointer;
}

.summary {
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  padding: 20px !important;
  border-radius: 3px;
}

.btnCheckout {
  border: none;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  background: #de7311;
  border: 1px solid #de7311;
  color: white;
  filter: drop-shadow(0 2px 2px #707070);
}
