.img-list {
    border: 1px solid rgb(192, 192, 192);
    padding: 2px;
    margin: 0px 10px 10px;
}

.img-list:hover,
.img-list:focus {
    border: 1px solid #3fa5ef;
    cursor: pointer;
}

.all-images {
    display: grid;
    align-items: center;
    justify-content: center;
}

.ram-infor {
    margin: 30px 0px 10px 20px;
    padding: 5px 10px 5px 10px;
    color: black;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid rgb(165, 165, 165);
}

.ram-infor:hover,
.ram-infor:focus {
    border: 1px solid #3fa5ef;
    color: #3fa5ef;
}

.price-infor {
    margin: 20px 5px;
    text-align: center;
    font-size: 30px;
    color: #c60e0e;
    border-radius: 5px;
    padding: 10px 17px;
    font-weight: bold;
    border: 1px solid #3ab6ff;
}

.hasBranch {
    border: 1px solid #dedede;
    width: 100%;
    height: 225px;
    overflow: scroll;
    border-radius: 5px;
    margin: 0 15px;
}

.description-product {
    padding: 20px;
    box-shadow: 0 0 5px 0 rgb(43 43 43 / 10%), 0 11px 6px -7px rgb(43 43 43 / 10%);
}

.add-to-cart {
    border: none;
    margin: 0 5px;
    text-align: center;
    padding: 10px 17px;
    background: red;
    color: white;
    font-weight: bold;
    width: 100%;
    border-radius: 5px;
    font-size: 25px;
}

.heart {
    display: flex;
    justify-content: flex-end;
}

.btnAnotherProduct {
    width: 50%;
    border: none;
    padding: 10px 0;
    background: rgb(238, 156, 4);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    filter: drop-shadow(0 2px 2px #707070);
}

.btnAnotherProduct:hover {
    background-color: #db8400;
}

.sttCoupon {
    padding: 5px 8px;
    background-color: #3fa5ef;
    color: white;
    border-radius: 50%;
    font-size: 13px;
    margin-right: 5px;
}